@import 'tailwindcss';
@import '@nuxt/ui';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply text-gray-900;
  }

  .dark body {
    background-color: var(--color-gray-800);
    @apply text-white;
  }
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  overflow-y: scroll;
}
